    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
      <a class="navbar-brand" href="index.html"><b>PHIL 401</b><span class="d-none d-lg-inline">: Ethics of Digital Technology</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/">Submission home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://julianetter.de/phil401/">Course website</a>
          </li>
        </ul>
        <ul class="navbar-nav navbar-right d-none d-md-inline">
          <li><a><b>Fall 2022</b></a></li>
        </ul>
      </div>
    </nav>
